node_modules/
.env
.DS_Store
logs/
*.log
npm-debug.log*
serviceAccountKey.json
gitscriptall.sh
backend-topic-questions.full.json
tobecleaned.json
tobecleaned.clean.json
tobecleaned.json
backend-topic-questions.regenerated.full.json
check.json
scripts/cleanSpiceLevel.js
questionoverhaul.md
